/*Big Tablet to 1200px*/
@media only screen and (max-width:1200px){
    html{
        font-size: 16px;
    }
    
    .heading-main-box{
        transform: translate(-35%,-30%);
    }
    form{
        margin-left: 35%;
    }
}

/*Small tablet to big tablet from 768px to 1023px*/
@media only screen and (max-width:1023px){
    .logo{
        width: 150px;
        margin-left: 50px;
    }

    .main-nav{
        margin-right: 50px;
        margin-top: 30px;
    }
    
    .main-nav li{
        margin-right: 12px;
    }

    .heading-main-box{
        transform: translate(-20%,-50%);
    }

    .product-box{
        width: 95%;
    }

    .product-box .btn{
        width: 70%;
        margin-left: 15%;
    }

    h3{
        font-size: 90%;
    }

    .product-box ul li{
        margin-left: 7%;
    }

    .product-box .small-icon{
        margin-right: 5px;
    }

    .social-icon li{
        margin-left: 10px;
    }
    
    .information i{
        display: block;
    }

    .information li{
        font-size: 12px;
    }
}

/*Small phone to small tablet*/
@media only screen and (max-width:767px){
    .col{
        width: 100%;
    }

    .main-nav{
        visibility: hidden;
    }

    .logo{
        width: 100px;
        margin-left: 12%;
    }
    
    h1{
        word-spacing: 2px;
        font-size: 200%;
    }

    .heading-main-box{
        transform: translate(-18%,-50%);
    }

    .heading-main-box .btn{
        width: 15%;
    }
    
    .about-section .row.p-long{
        font-size: 20px;
    }

    .picture-title{
        font-size: 25px;

    }

    .about-picture{
        text-align: center;
    }

    .about-picture img{
        width: 70%;
    }

    .product-box{
        width: 90%;
        margin-left: 5%;
    }

    .product-section .btn{
        width: 60%;
    }

    .product-box ul li{
        margin-left: 25%;
    }

    .testimonials-section .row .col{
        margin-bottom: 30px;
    }

    figcaption{
        visibility: hidden;
    }

    form{
        width: 80%;
        margin-left: 10%;
    }

    label{
        margin-left: 38%;
    }

    .information{
        margin-top: 20px;
        text-align: center;
    }

    .information li{
        font-size: 18px;
    }

    .social-icon{
        text-align: center;
    }

    .social-icon li{
        font-size: 40px;
        margin-bottom: 20px;
    }
}

/*Small phone from 0 to 480px*/
@media only screen and (max-width:480px){
    html{
        font-size: 12px;
    }

    .logo{
        margin-top: 60px;
        margin-left: 130px;
    }

    h1{
        font-size: 180%;
        
    }

    .heading-main-box{
        transform: translate(-10%,-55%);
    }

    .heading-main-box .btn{
        width: 13%;
        display: block;
        margin-bottom: 20px;
        margin-left: 3%;
    }

    .information li{
        font-size: 15px;
    }

    .social-icon li{
        font-size: 35px;
    }

    form{
        width: 90%;
        margin-left: 5%;
    }
}