/*Big Tablet to 1200px*/
@media only screen and (max-width:1200px){
    html{
        font-size: 16px;
    }
    
    .heading-main-box{
        transform: translate(-35%,-30%);
    }
    form{
        margin-left: 35%;
    }
}

/*Small tablet to big tablet from 768px to 1023px*/
@media only screen and (max-width:1023px){
    .logo{
        width: 150px;
        margin-left: 50px;
    }

    .main-nav{
        margin-right: 50px;
        margin-top: 30px;
    }
    
    .main-nav li{
        margin-right: 12px;
    }

    .heading-main-box{
        transform: translate(-20%,-50%);
    }

    .product-box{
        width: 95%;
    }

    .product-box .btn{
        width: 70%;
        margin-left: 15%;
    }

    h3{
        font-size: 90%;
    }

    .product-box ul li{
        margin-left: 7%;
    }

    .product-box .small-icon{
        margin-right: 5px;
    }

    .social-icon li{
        margin-left: 10px;
    }
    
    .information i{
        display: block;
    }

    .information li{
        font-size: 12px;
    }
}

/*Small phone to small tablet*/
@media only screen and (max-width:767px){
    .col{
        width: 100%;
    }

    .main-nav{
        visibility: hidden;
    }

    .logo{
        width: 100px;
        margin-left: 12%;
    }
    
    h1{
        word-spacing: 2px;
        font-size: 200%;
    }

    .heading-main-box{
        transform: translate(-18%,-50%);
    }

    .heading-main-box .btn{
        width: 15%;
    }
}

/*Small phone from 0 to 480px*/
@media only screen and (max-width:480px){
    
}